aniso8601==8.0.0
astor==0.8.0
certifi==2024.7.4
Click==7.0
Flask==2.2.5
Flask-RESTful==0.3.8
google-pasta==0.2.0
gunicorn>=0.14.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.1.1
MarkupSafe==2.1.5
numpy==1.24.1
pandas==1.0.1
protobuf==3.18.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==1.5.1
scipy==1.9.3
six==1.14.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==3.0.3
wincertstore==0.2
wrapt==1.11.2
xlrd==2.0.1
xlrd==1.2.0
absl-py==2.1.0
aniso8601==9.0.1
astor==0.8.1
blinker==1.9.0
certifi==2024.7.4
click==8.1.8
Flask==3.0.3
Flask-RESTful==0.3.10
google-pasta==0.2.0
grpcio==1.68.0
gunicorn==23.0.0
h5py==3.12.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.6
MarkupSafe==2.1.5
numpy==2.0.1
packaging==24.2
pandas==2.2.2
protobuf==3.19.6
python-dateutil==2.9.0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
setuptools==75.5.0
six==1.16.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
termcolor==2.4.0
threadpoolctl==3.5.0
tzdata==2024.2
Werkzeug==3.0.6
wincertstore==0.2
wrapt==1.16.0
xlrd==2.0.1