aniso8601==8.0.0
astor==0.8.0
certifi==2019.11.28
Click==7.0
Flask==1.1.1
Flask-RESTful==0.3.8
google-pasta==0.1.7
gunicorn>=0.14.2
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.18.1
pandas==1.0.1
protobuf==3.15.0
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==1.0.0
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
